<div>
    <h2 data-translate="foodAppetencyApp.transactionStatus.home.title">Transaction Statuses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="transaction-status.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="foodAppetencyApp.transactionStatus.home.createLabel">
                        Create new Transaction Status
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'foodAppetencyApp.transactionStatus.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transactionId"><span data-translate="foodAppetencyApp.transactionStatus.transactionId">Transaction Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transactionSuccess"><span data-translate="foodAppetencyApp.transactionStatus.transactionSuccess">Transaction Success</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span data-translate="foodAppetencyApp.transactionStatus.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="errorCode"><span data-translate="foodAppetencyApp.transactionStatus.errorCode">Error Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="errorMessage"><span data-translate="foodAppetencyApp.transactionStatus.errorMessage">Error Message</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentId"><span data-translate="foodAppetencyApp.transactionStatus.payment">Payment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transactionStatus in vm.transactionStatuses track by transactionStatus.id">
                    <td><a ui-sref="transaction-status-detail({id:transactionStatus.id})">{{transactionStatus.id}}</a></td>
                    <td>{{transactionStatus.transactionId}}</td>
                    <td>{{transactionStatus.transactionSuccess}}</td>
                    <td>{{transactionStatus.amount}}</td>
                    <td>{{transactionStatus.errorCode}}</td>
                    <td>{{transactionStatus.errorMessage}}</td>
                    <td>
                        <a ui-sref="payment-detail({id:transactionStatus.paymentId})">{{transactionStatus.paymentId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="transaction-status-detail({id:transactionStatus.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transaction-status.edit({id:transactionStatus.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transaction-status.delete({id:transactionStatus.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
