<md-dialog id="login-dialog">
    <form name="loginForm" ng-submit="vm.login()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Log In</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-icon="close" aria-label="Close Button"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input name="username" ng-model="vm.username" md-autofocus required/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="vm.password" required/>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <a href="" class="md-primary">Forgot Password?</a>
            <span flex></span>
            <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary">Login</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
