<div>
    <h2>
        <span jhiTranslate="foodAppetencyApp.commerceItem.home.title">Commerce Items</span>
        <button class="btn btn-primary float-right create-commerce-item" [routerLink]="['/', { outlets: { popup: ['commerce-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="foodAppetencyApp.commerceItem.home.createLabel">
            Create new Commerce Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'foodAppetencyApp.commerceItem.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="commerceItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="foodAppetencyApp.commerceItem.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="foodAppetencyApp.commerceItem.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stateDetail"><span jhiTranslate="foodAppetencyApp.commerceItem.stateDetail">State Detail</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalPrice"><span jhiTranslate="foodAppetencyApp.commerceItem.totalPrice">Total Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productName"><span jhiTranslate="foodAppetencyApp.commerceItem.product">Product</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderId"><span jhiTranslate="foodAppetencyApp.commerceItem.order">Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commerceItem of commerceItems ;trackBy: trackId">
                <td><a [routerLink]="['../commerce-item', commerceItem.id ]">{{commerceItem.id}}</a></td>
                <td>{{commerceItem.quantity}}</td>
                <td jhiTranslate="{{'foodAppetencyApp.ItemState.' + commerceItem.state}}">{{commerceItem.state}}</td>
                <td>{{commerceItem.stateDetail}}</td>
                <td>{{commerceItem.totalPrice}}</td>
                <td>
                    <div *ngIf="commerceItem.productId">
                        <a [routerLink]="['../menu-item', commerceItem.productId  ]" >{{commerceItem.productName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="commerceItem.orderId">
                        <a [routerLink]="['../order', commerceItem.orderId  ]" >{{commerceItem.orderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../commerce-item', commerceItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commerce-item/'+ commerceItem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commerce-item/'+ commerceItem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="commerceItems && commerceItems.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
