<div>
    <h2 data-translate="foodAppetencyApp.commerceItem.home.title">Commerce Items</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="commerce-item.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="foodAppetencyApp.commerceItem.home.createLabel">
                        Create new Commerce Item
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'foodAppetencyApp.commerceItem.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span data-translate="foodAppetencyApp.commerceItem.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="foodAppetencyApp.commerceItem.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stateDetail"><span data-translate="foodAppetencyApp.commerceItem.stateDetail">State Detail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalPrice"><span data-translate="foodAppetencyApp.commerceItem.totalPrice">Total Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productName"><span data-translate="foodAppetencyApp.commerceItem.product">Product</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderId"><span data-translate="foodAppetencyApp.commerceItem.order">Order</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="commerceItem in vm.commerceItems track by commerceItem.id">
                    <td><a ui-sref="commerce-item-detail({id:commerceItem.id})">{{commerceItem.id}}</a></td>
                    <td>{{commerceItem.quantity}}</td>
                    <td data-translate="{{'foodAppetencyApp.ItemState.' + commerceItem.state}}">{{commerceItem.state}}</td>
                    <td>{{commerceItem.stateDetail}}</td>
                    <td>{{commerceItem.totalPrice}}</td>
                    <td>
                        <a ui-sref="menu-item-detail({id:commerceItem.productId})">{{commerceItem.productName}}</a>
                    </td>
                    <td>
                        <a ui-sref="order-detail({id:commerceItem.orderId})">{{commerceItem.orderId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="commerce-item-detail({id:commerceItem.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="commerce-item.edit({id:commerceItem.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="commerce-item.delete({id:commerceItem.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
